header {
    width: 400px;
    height: 100px;
    background-color: #f00;
    position: relative;
}

.block-w {
    position:absolute;
    top: 20px;
    right: 20px;
    width: 160px;
    height: 60px;
    background-color: #FFF;
}

.block-list {
    display: flex;
    padding-top: 10px;
}

.list {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background-color: #6729a0;
}

main {
    font-size: 0;
}

.block-g {
    display: inline-block;
    width: 150px;
    height: 250px;
    background: #0a5;
}

.block-b {
    display: inline-block;
    width: 250px;
    height: 250px;
    background: #2563eb;
}

.block-o {
    flex-direction: column;
    margin: 40px 0 0 40px;
}

.list2 {
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border: 5px solid #FFF;
    margin-bottom: 10px;
    }

footer {
    width: 400px;
    height: 100px;
    background-color: #fd0;
}